<mat-list>
  <mat-list-item>Market</mat-list-item>
  <mat-divider></mat-divider>
</mat-list>

<div class="search-div">
  <button mat-raised-button (click)="onCreate()" color="primary">
    <mat-icon>add_circle</mat-icon>&nbsp;Add
  </button>
  <mat-form-field class="search-form-field" floatLabel="never">
    <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
    <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>

<div class="mat-elevation-z8">
  <mat-table [dataSource]="listData" matSort>
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Type Market</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.type }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="place">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Place Market</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.place }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Amount Market</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.amount | currency:'U$' }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Date Market</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.date | date: 'fullDate' }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Description Market</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.description }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="onEdit(row)" matTooltip="Edit Market">
          <mat-icon>loop</mat-icon>
        </button>
        <button mat-icon-button (click)="onDetails(row)" matTooltip="Market's Details">
          <mat-icon>zoom_in</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onDelete(row.id)" matTooltip="Delete Market">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Loading data...
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        No data.
      </mat-footer-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': listData != null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': !(listData != null && listData.length == 0)}">
    </mat-footer-row>
  </mat-table>

  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>
