<mat-list>
  <mat-list-item>
    <mat-icon color="primary" mat-list-icon>reply_all</mat-icon>
    <h2 mat-line>Refunds Module</h2>
  </mat-list-item>
</mat-list>

<div class="search-div">
  <button mat-raised-button (click)="onCreate()" color="primary">
    <mat-icon>add_circle</mat-icon>&nbsp;Add
  </button>
  <mat-form-field class="search-form-field" floatLabel="never">
    <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
    <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>

<div class="mat-elevation-z8">
  <mat-table [dataSource]="listData" matSort>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name Refund</mat-header-cell>
      <mat-cell *matCellDef="let refund"> {{refund.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Amount Refund</mat-header-cell>
      <mat-cell *matCellDef="let refund"> {{refund.amount | currency:'U$'}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="remaining_amount">
      <mat-header-cell *matHeaderCellDef mat-sort-header> R. A. Refund</mat-header-cell>
      <mat-cell *matCellDef="let refund"> {{refund.remaining_amount | currency:'U$'}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="installments">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Inst. Refund</mat-header-cell>
      <mat-cell *matCellDef="let refund"> {{refund.installments}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="remaining_installments">
      <mat-header-cell *matHeaderCellDef mat-sort-header> R. Inst. Refund</mat-header-cell>
      <mat-cell *matCellDef="let refund"> {{refund.remaining_installments}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Description Refund</mat-header-cell>
      <mat-cell *matCellDef="let refund"> {{refund.description}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="onEdit(row)" matTooltip="Edit Refund">
          <mat-icon>loop</mat-icon>
        </button>
        <button mat-icon-button (click)="onDetails(row)" matTooltip="Refund's Details">
          <mat-icon>zoom_in</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onDelete(row.id)" matTooltip="Delete Refund">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Loading data...
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        No data.
      </mat-footer-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': listData != null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': !(listData != null && listData.length == 0)}">
    </mat-footer-row>
  </mat-table>

  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>
