<mat-toolbar color="primary">
  <span>Market's Details</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabindex="-1">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>

<mat-grid-list cols="1" rowHeight="300px">
  <mat-grid-tile>
    <div *ngIf="market" class="controles-container">

      <mat-list role="list">
        <mat-list-item role="listitem"><label><b>Market Type: </b></label> &nbsp; {{market.type}}</mat-list-item>
        <mat-list-item role="listitem"><label><b>Market Place: </b></label> &nbsp; {{market.place}}</mat-list-item>
        <mat-list-item role="listitem"><label><b>Market Amount: </b></label> &nbsp; {{market.amount | currency:'U$'}}
        </mat-list-item>
        <mat-list-item role="listitem"><label><b>Market Date: </b></label> &nbsp; {{market.date | date: 'fullDate'}}
        </mat-list-item>
        <mat-list-item role="listitem"><label><b>Market Description: </b></label> &nbsp; {{market.description}}
        </mat-list-item>
      </mat-list>
    </div>
  </mat-grid-tile>
</mat-grid-list>



